@import url('https://fonts.googleapis.com/css2?family=Send+Flowers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Send+Flowers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Tangerine&display=swap');

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

body {
    font-family: "Roboto", sans-serif;
    width: 800px;
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    font-family: "Tangerine", cursive;
    font-weight: 400;
    font-size: 5em;
    text-align: center;
    margin: 0;
    padding: 0.6em 0 0.1em 0;
}

h2 {
    font-family: "Tangerine", cursive;
    font-weight: 400;
    font-size: 3em;
    text-align: center;
    margin: 0;
    padding: 0.1em 0 0.6em 0;
}

#wrapper {
    position: relative;
    padding: 1.6em;
    font-size: 1.2em;
    margin-bottom: 2em;
}

form {
    position: relative;
    z-index: 100;
}

.intro p {
    padding-bottom: 0.4em;
}

.pe {
    font-size: larger;
    font-weight: bolder;
}

.input-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.corner-top {
    position: absolute;
    width: 832px;
    height: 0px;
    top: 0px;
    left: -16px;
    border-bottom: 1px solid #ccc;
    z-index: -1;
}

.corner-left {
    position: absolute;
    width: 800px;
    height: 100px;
    top: -16px;
    left: 0px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    z-index: -1;
}

.corner-bottom {
    position: absolute;
    width: 832px;
    height: 0px;
    bottom: 0px;
    right: -16px;
    border-top: 1px solid #ccc;
    z-index: -1;
}

.corner-right {
    position: absolute;
    width: 800px;
    height: 100px;
    bottom: -16px;
    right: 0px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    z-index: -1;
}

.spaceWrapper {
    margin: 2em 0;
}

.spacerv {
    position: relative;
    width: 800px;
    height: 32px;
    top: 0px;
    left: -1.6em;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    z-index: -1;
}

.spacerh {
    position: relative;
    width: 832px;
    height: 0px;
    top: -16px;
    left: calc(-1.6em - 16px);
    border-bottom: 1px solid #ccc;
    z-index: -1;
}

.absage {
    font-size: 0.3em;
}

.hiddenGuest {
    display: none;
}

textarea {
    width: 100%;
    height: 5em;
    padding: 0.4em 0.6em;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 1.1em;
    font-family: "Roboto";
    color: #424242;
    resize: none;
    outline: none;
}

textarea:focus {
    width: 100%;
    height: 5em;
    padding: 0.4em 0.6em;
    box-sizing: border-box;
    border: 2px solid #2bc688;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 1.1em;
    font-family: "Roboto";
    color: #424242;
    resize: none;
    outline: none;
}

#email {
    width: 400px;
    min-width: 400px;
    width: 60%;
    padding: 0.4em 0.6em;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 1.1em;
    font-family: "Roboto";
    color: #424242;
    resize: none;
    outline: none;
}

#email:focus {
    border: 2px solid #2bc688;
}