:root {
    --arrow-bg: #11998ebd;
    --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
    --option-bg: white;
    --select-bg: white;
}

#numGuests {
    /* Reset */
    appearance: none;
    border: 1px solid gray;
    outline: 0;
    font: inherit;
    /* Personalize */
    width: 10rem;
    padding: 0.4em 2em 0.4em 2.2em;
    background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em, linear-gradient(to left, #2bc688da 0em, #2bc688 1.5em, #2bc688da 3em, var(--select-bg) 3em);
    color: black;
    border-radius: 0.25em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    /* Remove IE arrow */
    /* Remove focus outline */
    /* <option> colors */
}

#numGuests::-ms-expand {
    display: none;
}

#numGuests:focus {
    outline: none;
}

#numGuests option {
    color: inherit;
    background-color: var(--option-bg);
    border-radius: none;
}

#numGuests-label {
    margin: 0 1.2em 0 0;
}

#duration {
    /* Reset */
    appearance: none;
    border: 1px solid gray;
    outline: 0;
    font: inherit;
    /* Personalize */
    width: 14rem;

    padding: 0.4em 2em 0.4em 1.2em;
    background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em, linear-gradient(to left, #2bc688da 0em, #2bc688 1.5em, #2bc688da 3em, var(--select-bg) 3em);
    color: black;
    border-radius: 0.25em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    margin: 0.4em 0;
    /* Remove IE arrow */
    /* Remove focus outline */
    /* <option> colors */
}

#duration::-ms-expand {
    display: none;
}

#duration:focus {
    outline: none;
}

#duration option {
    color: inherit;
    background-color: var(--option-bg);
    border-radius: none;
}

#duration-label {
    margin: 0 1.2em 0 0;
}